[submodule "log.c"]
	path = log.c
	url = https://github.com/rxi/log.c
[submodule "bpftool"]
	path = bpftool
	url = https://github.com/libbpf/bpftool
[submodule "libbpf"]
	path = libbpf
	url = https://github.com/libbpf/libbpf.git
